img.img-thumbnail {
  height: 100px;
  width: 100px !important;
  margin-bottom: 2px;
}

.nv-file-over {
  border: dotted 3px rgb(35, 209, 58);
}

input[type="file"] {
  color: transparent;
}

.not-approved {
  opacity: 0.2;
}
.img-wrapper {
  position: relative;
}
.img-text {
  position: absolute;
  bottom: 30%;
}
